* {
    border: 2px solid red;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'pin';
    src: url(font/poppins/Poppins-Light.ttf);
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: fit-content;
    background-color: aqua;
    font-family: 'pin';
}

a {
    text-decoration: none;
    color: aliceblue;
}

.page-wrapper {
    padding: 2rem;
}

main,
section {
    margin: 50px auto;
}

/*Header*/
.header,
.footer {
    height: 1.5;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    color: aliceblue;
    background-color: #8da06f;
}

nav a {
    color: aliceblue;
    width: 10rem;
    font-size: 18px;
    margin: 1 2rem;
}

.logo {
    font-size: 50px;
}

/*Layer 1 main*/
main {
    background-color: black;
    display: flex;
    border-radius: 2rem;
    width: 100rem;
}

.layer1L, .layer1R {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layer1L {
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    margin: 3em 2em 3em 5em;
    flex: 1 1 300px;
}

.layer1R {
    flex: 0 0 270px;
    margin: 3em 1em;
}


.layer1L .title {
    font-size: 48px;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
}

.para {
    width: auto;
    font-size: 18px;
    text-align:start;
}


.layer1R img {
    max-width: 800px;
    height: auto;
}

.layer1L .button {
    display: inline-block;
    margin-top: 15px;
}

button {
    display: inline-block;
    width: auto;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8em 1.5em;
}

/*Layer 2 pictures*/
.layer2 {
    margin: 0 auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.layer2 .title {
    text-align: center;
}

.pictures {
    display: flex;
    justify-content: center;
}

.pictures img {
    width: 150px;
    height: 150px;
}

/*Layer 3 quote*/
.layer3 {
    display: flex;
    justify-content: center;
}

.quote div {
    font-weight: 600;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    width: 70rem;
}

/*Layer 4 sign up*/
.layer4 {
    height: 15rem;
    background-color: brown;
}

.layer4L {
    align-self: start;
}

.sing-up {
    display: flex;
    justify-content: center;
}

/*Footer*/
.footer {
    text-align: center;
    justify-content: center;
}